:host {
  width: 100%;
  display: block;
  box-sizing: border-box;

  > .time-passed, .time-left {
    width: 45%;
    display: inline-block;
    padding: 0 25px;
    box-sizing: border-box;
  }
  > .time-passed {
    text-align: left;
  }

  > .time-left {
    text-align: right;
  }
}

.mat-slider {
  box-sizing: border-box;
  vertical-align: sub;
  position: relative;
  width: calc(100% - 50px);
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 10px;
  height: 44px;
}
