.root {
    /*todo*/
}

.custom-button {
    -fx-text-fill: #f2f2f2;
    -fx-font-size: 25px;
    -fx-padding: 10;
    -fx-background-color: #181818;
    -fx-border-radius: 0;
    -fx-border-color: #0f0f0f;
    -fx-border-width: 1;
    -fx-min-width: 135;
    -fx-min-height: 90;
}

.custom-button:hover {
    -fx-background-color: #666666;
}
.custom-button:pressed  {
    -fx-background-color: #434343;
}

.digits-label {
    -fx-background-color: #0f0f0f;
    -fx-text-fill: #f2f2f2;
    -fx-font-size: 50px;
    -fx-padding: 0 30;
    -fx-min-width: 540;
    -fx-min-height: 135;
}