:host {
  width: 100%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.mat-slider {
  vertical-align: sub;
  position: relative;
  width: calc(100% - 84px);
  margin: 0 10px;
  line-height: 32px;
  height: 44px;
}
