.song {
  margin: 15px 0;
  width: 100%;
  transition: all .15s ease-in;

  &:hover {
    transform: translateX(15px);
    border-radius: 5px;
    z-index: 100;

    > .image {

    }
  }

  > * {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  > .text {
    width: calc(100% - 72px);
    height: 40px;
    padding: 4px 10px;
    text-shadow: 0 3px 6px rgba(0,0,0,.43);

    > .title {
      top: 0;
    }

    > .artist {

    }
  }
}
